<div class="col-md-6 form-group" style="margin: 0">
    <div class="col-md-12" style="text-align: center; padding: 0">
        <div class="col-md-2">
            <label>
                {{ form.tipo[0].vars.label }}
                {{ form_widget(form.tipo[0],{ 'attr': {'class':'form-control' }}) }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                {{ form.tipo[1].vars.label }}
                {{ form_widget(form.tipo[1],{ 'attr': {'class':'form-control' }}) }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                {{ form.tipo[2].vars.label }}
                {{ form_widget(form.tipo[2],{ 'attr': {'class':'form-control' }}) }}
            </label>
        </div>
        <div class="col-md-2">
            <label>
                {{ form.tipo[3].vars.label }}
                {{ form_widget(form.tipo[3],{ 'attr': {'class':'form-control' }}) }}
            </label>
        </div>
    </div>
</div>
<div class="col-md-4">
    {{ form_widget(form.detalle,{ 'attr': {'class':'form-control input-medium'}}) }}
</div>
