{% extends '::frontend2.html.twig' %}
{% block title %}
    <title>CUBiM | DSI</title>
{% endblock %}
{% block page_title %}
    <h3 class="page-title">
        Solicitud
    </h3>
{% endblock %}
{% block page_style %}
    <link href="{{ asset('metronic/assets/global/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('metronic/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block page_bar %}
    {{ form_start(form) }}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-book"></i>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="{{ path('dsi_listado_preguntas', {'modulo':'dsi'}) }}">Listado de Preguntas</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="{{ path('dsi_modificar_solicitud', {'id':solicitud.id}) }}">Solicitud</a>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                {{ form_widget(form.Guardar, {'attr':{'class':'btn btn-primary' }}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    {% for mensaje in app.session.flashbag.get('info_add') %}
        <div class="alert alert-success alert-dismissible">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
            <i class="fa-lg fa fa-check pull-left"></i>
            {{ mensaje }}
        </div>
    {% endfor %}
    {% for mensaje in app.session.flashbag.get('info_edit') %}
        <div class="alert alert-info alert-dismissible">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
            <i class="fa-lg fa fa-pencil-square-o pull-left"></i>{{ mensaje }}</div>
    {% endfor %}
    {% for mensaje in app.session.flashbag.get('info_delete') %}
        <div class="alert alert-warning alert-dismissible">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button"></button>
            <i class="fa-lg fa fa-minus-square pull-left"></i>{{ mensaje }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki tabbable">
                <div class="portlet-title">
                    <div class="caption">
                        <em class="fa fa-user"><sup class="fa fa-list"></sup></em>&nbsp;Formulario de edici&oacute;n
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable portlet-tabs">
                        <ul class="nav nav-tabs">
                            <li>
                                <a data-toggle="tab" href="#portlet_tab_3">
                                    Adjunto</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#portlet_tab_2">
                                    Respuesta </a>
                            </li>
                            <li class="active">
                                <a data-toggle="tab" href="#portlet_tab_1">
                                    Pregunta </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="portlet_tab_3" class="tab-pane">
                                <div class="table-scrollable">
                                    <table role="grid" id="categorias"
                                           class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong>Nombre</strong>
                                            </td>
                                            <td style="text-align: right">
                                                {{ form_widget(form.name,{ 'attr': {'class':'form-control input-small' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: right">
                                                {{ form_widget(form.file,{ 'attr': {'class':'input-xlarge', 'style':'padding-top: 30px' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="portlet_tab_2" class="tab-pane">
                                <div class="table-scrollable">
                                    <table role="grid" id="profesionales"
                                           class="table table-hover">
                                        <tbody>
                                        <tr role="row">
                                            <td>
                                                <strong>Texto</strong>
                                            </td>
                                            <td style="text-align: right">
                                                {{ form_widget(form.respuesta,{ 'attr': {'class':'form-control input-xlarge' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        <tr role="row">
                                            <td>
                                                <strong>Fuente de Informaci&oacute;n</strong>
                                            </td>
                                            <td>
                                                <div style="text-align: right">
                                                    <ul class="fuentesInfo"
                                                        data-prototype="{% filter escape %}{% include 'ReferenciaBundle:Prototypes:fuentesInfoPrototype.html.twig' with {'form': form.fuentesInfo.vars.prototype} %}{% endfilter %}"
                                                        style="list-style: none">
                                                        {% for fuenteInfo in form.fuentesInfo %}
                                                            <li style="float: right;">
                                                                <div class="col-md-9">{{ form_widget(fuenteInfo.id,{ 'attr': {'class':'form-control' }}
                                                                    ) }}
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row">
                                            <td>
                                                <strong>Tipo de Respuesta</strong>
                                            </td>
                                            <td style="text-align: right">
                                                <p class="pull-right">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <label>{{ form_widget(form.tipoRespuesta[0],{ 'attr': {'class':'form-control input-xlarge' }}
                                                                ) }}
                                                                {{ form.tipoRespuesta[0].vars.label }}</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>{{ form_widget(form.tipoRespuesta[1],{ 'attr': {'class':'form-control input-xlarge' }}
                                                                ) }}
                                                                {{ form.tipoRespuesta[1].vars.label }}</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>{{ form_widget(form.tipoRespuesta[2],{ 'attr': {'class':'form-control input-xlarge' }}
                                                                ) }}
                                                                {{ form.tipoRespuesta[2].vars.label }}</label>
                                                            {{ form_widget(form.usuario) }}
                                                        </div>
                                                    </div>
                                                    <br/>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="portlet_tab_1" class="tab-pane active">
                                <div class="table-scrollable">
                                    <table role="grid" id="personales"
                                           class="table table-hover">
                                        <tbody>
                                        <tr role="row">
                                            <td>
                                                <strong>Texto</strong>
                                            </td>
                                            <td style="text-align: right">
                                                {{ form_widget(form.pregunta,{ 'attr': {'class':'form-control input-xlarge' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        <tr role="row">
                                            <td>
                                                <strong>Via de solicitud</strong>
                                            </td>
                                            <td style="text-align: right">
                                                {{ form_widget(form.viaSolicitud,{ 'attr': {'class':'form-control input-xlarge' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        <tr role="row">
                                            <td style="color: #802420">
                                                <strong>Tener en cuenta para Desiderata</strong>
                                            </td>
                                            <td style="text-align: center">
                                                {{ form_widget(form.desiderata,{ 'attr': {'class':'form-control input-xlarge' }}
                                                ) }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% do form.Guardar.setRendered %}
    {% do form.fuentesInfo.setRendered %}
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        function asd(event, id) {
            document.getElementById('formRecepcion_usuario').value = id;
        }
    </script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('metronic/assets/global/plugins/gritter/js/jquery.gritter.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('metronic/assets/global/plugins/select2/select2.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('metronic/assets/global/plugins/select2/select2_locale_es.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('metronic/assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
    <script src="{{ asset('metronic/assets/admin/layout/scripts/layout.js') }}" type="text/javascript"></script>
    <script src="{{ asset('metronic/assets/admin/layout/scripts/quick-sidebar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('metronic/assets/admin/layout/scripts/demo.js') }}" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            {% if solicitud.referencia == 1 %}
            document.getElementById("formDSI_tipoRespuesta_0").checked = true;
            document.getElementById("formDSI_tipoRespuesta_0").parentElement.setAttribute("class", "checked");
            {% endif %}
            {% if solicitud.documento == 1 %}
            document.getElementById("formDSI_tipoRespuesta_1").checked = true;
            document.getElementById("formDSI_tipoRespuesta_1").parentElement.setAttribute("class", "checked");
            {% endif %}
            {% if solicitud.verbal == 1 %}
            document.getElementById("formDSI_tipoRespuesta_2").checked = true;
            document.getElementById("formDSI_tipoRespuesta_2").parentElement.setAttribute("class", "checked");
            {% endif %}
            {% set counter = 0 %}
            {% for fuenteInfo in solicitud.fuentesInfo %}
            var id = "formDSI_fuentesInfo_" + "{{ counter }}" + "_id";
            for (var li = 0; li < document.getElementById(id).childNodes.length; li = li + 1) {
                var opt = document.getElementById(id).childNodes[li];
                if (opt.firstChild != null && opt.firstChild.data == "{{ fuenteInfo }}") {
                    opt.selected = true;
                }
            }
            {% set counter = counter + 1 %}
            {% endfor %}
            document.getElementById("formDSI_id").value = {{ solicitud.id }};
            initSelects();
        });
    </script>
    <script>

        var initSelects = function () {
            var selects = document.getElementsByTagName('select');
            for (var i = 0; i < selects.length; i++) {
                $('#' + selects[i].id).select2({
                    allowClear: true,
                    class_name: 'form-control'
                })
            }
        };

        var doThisAfterInsert = function () {
            setTimeout(function () {
                initSelects();
            }, 0);
        };

        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<br /><a href="#" class="add_fuentesInfo_link"><button class="btn btn-default" onclick="doThisAfterInsert()"><i class="fa fa-plus"></i>Adicionar fuente</button></a>');
        var $newLinkLi = $('<li style="float: right"></li>').append($addTagLink);
        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.fuentesInfo');
            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li style="float: right;"></li>').append(newForm);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);
        }
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div style="float: right"><a href="#"><button title="Eliminar fuente" class="btn btn-default"><i class="fa fa-minus"></i></button></a></div><div class="clearfix"></div><br />');
            $tagFormLi.append($removeFormA);
            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
        function ordering(order, dir) {
            document.getElementById('form_order').value = order;
            document.getElementById('form_dir').value = dir;
            document.forms[2].submit();
//            if (document.getElementById('form_dir').value == null
//                    || document.getElementById('form_dir').value == ''
//                    || document.getElementById('form_dir').value == 'DESC')
//                document.getElementById('form_dir').value = 'ASC';
//            else document.getElementById('form_dir').value = 'DESC';
        }
    </script>
    <!-- END JAVASCRIPTS -->
{% endblock %}